<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script>
      window.withEval = (obj, s) => {
        with (obj) {
          return eval(s);
        }
      };
    </script>
    <link
      rel="apple-touch-icon"
      href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png"
    />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-JZJEG66M7E"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-JZJEG66M7E");
    </script>
    <!-- End Google tag -->
  </body>
</html>
